body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/desert-game-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}

h1{
    font-family: 'Arbutus'; 
    font-size: 48px;
    color:saddlebrown;
}

canvas{
    background-color: black;    
    display: block;
}

.game-button{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    font-family: 'Arbutus'; 
}

.button-panel{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.button-panel-Gameover_Finished{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.game-button:hover{
    box-shadow: 0 0 8px 8px rgba(0 0 0 / 20%);
}

.black-background{
    background-color: rgb(30, 30, 30);
    color: white;    
}

.black-background:hover{
    background-color: black;
}

.gameoverScreen{
    width: 720px; 
    height: 480px;
    background-image: url('img/9_intro_outro_screens/game_over/game over!.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.levelFinishedScreen{
    width: 720px; 
    height: 480px;
    background-image: url('img/desert-game-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameScreen{
    display: block;
}

.canvas_keyboard{
    position: relative;
}

.puntosPanel{
    display: flex;
    font-family: 'Arbutus'; 
    font-size: 32px;
    color:white;
    align-items: center;
    gap: 12px;
}

.puntosPanel2{
    display: flex;
    gap: 12px;
}

.flex-column{
    flex-direction: column;
}

#puntosValue{    
    font-size: 60px;    
    color: #FFB300;
}

.nivelCompletadoText{
    font-family: 'Arbutus'; 
    color:white;
}

.pointsOverview{
    width: 200px;
    height: 200px;
    background-color: #FFB300;
}

/*#region Dialog */
.dialog-bg{
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog{
    height: 50vh;
    width: 50vw;
    min-height: 100px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

.lineInPoints{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Arbutus'; 
}

/*#endregion Dialog */

.d-none{
    display: none;
}

/*#region Smartphones  */
@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }

    .gameoverScreen{
        width: 100vw;
    }

    .levelFinishedScreen{
        width: 100vw;
    }

    h1{
        font-size: 18px;
    }
}

/* Wenn Höhe kleiner als Spielscreen-Höhe, dann Höhe Spielscreen-Höhe komplette Bildschirm-Höhe füllen*/
@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }

    .levelFinishedScreen{
        height: 100vh;
    }

    .gameoverScreen{
        height: 100vh;
    }

    .hide-mobile{
        display: none;
    }
    
    h1{
        font-size: 18px;
    }

    .mobileKeyboard{
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 70px;
        width: 100%;
        /* background-color: aqua; */
        
    }

    .buttonLeft{
        position: absolute;
        height: 60px;
        width: 60px;
        top: calc(50% - 30px);
        left: 0;
        background-image: url('img/arrowLeft.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .buttonRight{
        position: absolute;
        height: 60px;
        width: 60px;
        top: calc(50% - 30px);
        right: 0;
        background-image: url('img/arrowRight.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .mobileJump{
        position: absolute;
        height: 60px;
        width: 60px;
        top: calc(50% - 30px);
        left: 20%;
        background-image: url('img/jump.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mobileThrowBottle{
        position: absolute;
        height: 40px;
        width: 140px;
        top: calc(50% - 10px);
        left: 40%;
        background: linear-gradient(to bottom, #fd8367, #FF0C00);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
}
    

/*#endregion Smartphones  */