body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/desert-game-background.jpg');
    background-position: center;
    margin: 0;
    height: 100vh;
}

h1{
    font-family: 'Arbutus'; 
    font-size: 48px;
    color:saddlebrown;
}

canvas{
    background-color: black;    
}

.game-button{
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 24px;
    font-family: 'Arbutus'; 
}

.button-panel{
    display: flex;
    gap: 12px;
}

.game-button:hover{
    box-shadow: 0 0 8px 8px rgba(0 0 0 / 20%);
}

.black-background{
    background-color: rgb(30, 30, 30);
    color: white;    
}

.black-background:hover{
    background-color: black;
}

.gameoverScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 720px; 
    height: 480px;
    background-image: url('img/9_intro_outro_screens/game_over/game over!.png');
    background-size: contain;
}

.d-none{
    display: none;
}